.LaunchpadMain {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: first baseline;
    position: relative;
    background-image: url('../images/launchbg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: whitesmoke;
    text-shadow: 4px 4px #000000;
}

.LaunchpadMain2 {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    position: relative;
    background-image: none;
    object-fit: contain;
    height: 35vh;
    color: antiquewhite;
}

.LaunchpadMain3 {
min-height: 100vh;
display: flex;
flex-direction: column;
width: 100%;
text-align: center;
align-items: center;
}

.LaunchpadTitle {
    font-family: 'Fredoka One', cursive;
    font-size: 4em;
    text-align: center;
    color: antiquewhite;
}

.gnarmint {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 1rem;
    width: 200px;
    height: 200px;
}

.subtitle {
    font-size: 2vw;
    color: white;
    text-shadow: 1px px #000000;
}

.launchimg {
    width: 80%;
    height: 80%;
}

.bottomtitle {
    padding-bottom: 10vh;
}

@media screen and (max-width: 700px) {
    .LaunchpadMain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../images/launchcrop.png');
        object-fit: scale-down;
      }

      .Projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .gnarmint {
        width: 200px;
        height: 200px;
        margin-top: 10px;
    }

    .launchimg {
        width: 80%;
        height: 80%;
    }

    .subtitle {
        font-size: 6vw;
        color: white;
        text-shadow: 1px px #000000;
    }
    
  }