.player_container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.title {
    font-size: 5.5vw;
}

.navigation {
    width: 100%;
}

.transactionBtn2 {
    align-self: center;
    text-transform: none !important;
    margin-top: 60px !important;
    padding: 20px !important;
    border-radius: 20px !important;
    font-size: 6vh !important;
    background-color: #db8400 !important;
    border-width: 5px !important;
    border-style: double !important;
    border-color: #ffffff !important;
    border-radius: 20px !important;
    font-family: 'Rubik', sans-serif !important;
    color: #ffffff !important;
    text-shadow: 2px 2px #000000;
    box-shadow: -12px 30px #00000045;
}

.clicked {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    pointer-events: none;
    z-index: 3;
}

.success {
    text-shadow: 0px 0px #000000;
}

.donate {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 4vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: auto;
}

@media screen and (max-width: 1400px) {

    .donate {
        width: 80%;
        font-size: 3vh;
    }
}